<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @star_rating.game_id %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @star_rating.stars %>
</p>

<p>
  <strong>User:</strong>
  <%= @star_rating.user_id %>
</p>

<%= link_to 'Edit', edit_star_rating_path(@star_rating) %> |
<%= link_to 'Back', star_ratings_path %>
